<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head(${pageTitle}, 'none')}"/>

<body>

	<div class="container-fluid p-0">
		<div th:replace="~{navigation :: menu}" ></div>
		<div class="text-center">
			<h2>Manage Users | [[${pageTitle}]]</h2>
		</div>

		<form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto" th:object="${user}" enctype="multipart/form-data" onsubmit="return checkEmailUnique(this);">
		<input type="hidden" th:field="*{id}"/>
			<div class="border border-secondary rounded p-3">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label ">Email address:</label>
					<div class="col-sm-8">
					<input type="email" class="form-control" th:field="*{email}" required="required" maxlength="128">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label ">First Name:</label>
					<div class="col-sm-8">
					<input type="text" class="form-control"  th:field="*{firstName}" required="required" maxlength="45">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label ">Last Name:</label>
					<div class="col-sm-8">
					<input type="text" class="form-control"  th:field="*{lastName}" required="required" maxlength="45">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label ">Password:</label>
					<div class="col-sm-8">
					<input th:if="${user.id==null}" type="password" class="form-control"  th:field="*{password}" required="required" minlength="8" maxlength="24">
					<input th:if="${user.id != null}" type="password" class="form-control"  th:field="*{password}" minlength="8" maxlength="24">
					</div>
				</div>
				
				<div class="form-group row ">
					<label class="col-sm-4 col-form-label ">Roles:</label>
					<div class="col-sm-8">					
    					<th:block th:each="role : ${listRoles}">
    					<input class="mx-2 mt-2" type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}">
    					<small class="form-text text-muted mt-0 ml-2">[[${role.description}]]</small>		
    					</th:block> 					 	
					</div>
				</div>
				
				<div class="form-group row ">
					<label class="col-sm-4 col-form-label ">Enabled:</label>
					<div class="col-sm-8">							
    					<input class="mx-2 mt-2" type="checkbox" th:field="*{enabled}" >					 	
					</div>
				</div>
				
				<div class="form-group row ">
					<label class="col-sm-4 col-form-label ">Photo:</label>
					<div class="col-sm-8">		
						<input type="hidden" th:field="*{photos}">					
    					<input id="fileImg" type="file" name="image" accept="image/png, image/jpeg" >	
    					<img class="img-fluid" style="max-width: 100px; height: auto;" id="thumbnail" alt="Photos review" th:src="@{${user.getPhotosImagesPath}}">				 	
					</div>
				</div>
				
				<div class="text-center m-3">
					<button type="submit" class="btn btn-primary mx-3 " value="Save">Submit</button>
					<button type="button" class="btn btn-secondary mx-3 " id="cancelbtn" value="Cancel">Cancel</button>
				</div>
			</div>
		</form>
		
		<div th:replace="~{fragments :: modal_dialog}" ></div>

		<div th:replace="~{fragments :: footer}" ></div>
	</div>


<script type="text/javascript">
	moduleURL="[[@{/users}]]";
	
	function checkEmailUnique(form){
		url="[[@{/users/check_email}]]";
		userEmail = $("#email").val();
		userId = $("#id").val();
		csrfValue = $("input[name='_csrf']").val();
		params = {id: userId, email: userEmail,_csrf: csrfValue};
		
		$.post(url, params, function(response){
			if(response=="OK"){
				form.submit();
			}else if(response=="Duplicated"){
				showWarningModal("There is another user using the email: "+ userEmail);
			}else{
				showErrorModal("Unknown response from server");
			}
		}).fail(function(){
				showErrorModal("Could not connect to the server");
		});
		
		return false;
	}
	

	
	
</script> 
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>