<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{fragments :: page_head(${pageTitle}, 'tag')}"/>
	<link rel="stylesheet" th:href = "@{/richtext/richtext.min.css}"/>
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>

</head>
<body>

	<div class="container-fluid bg-light p-0">
		<div th:replace="~{navigation :: menu}" ></div>
		<div class="text-center m-3 title">
			<h2>Manage Orders | [[${pageTitle}]]</h2>
		</div>

		<form class = "container border rounded bg-white" th:action="@{/order/save}" method="post" th:object="${order}" onsubmit="return processFormBeforeSubmit();"  enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}"/>
			<div class="m-2">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <button class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab">Overview</button>
				  </li>
				  <li class="nav-item">
				    <button class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab">Products</button>
				  </li>
				  <li class="nav-item">
				    <button class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab">Shipping</button>
				  </li>	
				   <li class="nav-item">
				    <button class="nav-link" id="track-tab" data-toggle="tab" href="#track" role="tab">Track</button>
				  </li>		  
				</ul>
				
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active p-3" id="overview" role="tabpanel">
					<div th:replace="orders/order_form_overview :: content"></div>  
				  </div>
				  
				  <div class="tab-pane fade p-3" id="products" role="tabpanel">
					<div th:replace="orders/order_form_product :: content"></div>  
				  </div>
				  
				  <div class="tab-pane fade p-3" id="shipping" role="tabpanel">
					<div th:replace="orders/order_form_shipping :: content"></div>
				  </div>
				  
				  <div class="tab-pane fade p-3" id="track" role="tabpanel">
					<div th:replace="orders/order_form_track :: content"></div>					  	 
				  </div>
				</div>
			</div>
			<div class="text-center mb-3">
				<button type="submit" class="btn btn-primary mx-3 ">Submit</button>
				<button type="button" class="btn btn-secondary mx-3 " id="cancelbtn" value="Cancel">Cancel</button>
			</div>
		</form>

		<div th:replace="~{fragments :: modal_dialog}" ></div>
		
		<div th:replace="~{orders/add_product_modal :: content}" ></div>

		<br>
	</div>
	<div th:replace="~{fragments :: footer}" ></div>


<script type="text/javascript">
	contextPath = "[[@{/}]]";	
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";
	$(document).ready(function() {
		$('#cancelbtn').click(function() { 
			window.location = "[[@{/orders}]]";	
		});
	});
	
	
	$(document).ready(function() {
	$("#productList").on("click", ".linkRemove", function(e) {
		e.preventDefault();
		
		if (doesOrderHaveOnlyOneProduct()) {
			showWarningModal("Could not remove product. The order must have eat least one product.");
		} else {
			removeProduct($(this));		
			updateOrderAmounts();	
		}
	});
	});

	function removeProduct(link) {
		rowNumber = link.attr("rowNumber");
		$("#row" + rowNumber).remove();
		$("#blank" + rowNumber).remove();
		
		$(".divCount").each(function(index, element) {
			element.innerHTML = "" + (index + 1);
		});
	}
	
	function doesOrderHaveOnlyOneProduct() {
		productCount = $(".hiddenProductId").length;
		return productCount == 1;
	}
</script>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/common_form_country_state.js}"></script>
<script th:src="@{/js/order_form_overview_products.js}"></script>
<script th:src="@{/js/order_form_add_product.js}"></script>
<script th:src="@{/js/order_form_track.js}"></script>


</body>
</html>