<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{fragments :: page_head('Setting-Eshop', 'tag')}"/>
	<link rel="stylesheet" th:href = "@{/richtext/richtext.min.css}"/>
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>

</head>
<body>

	<div class="container-fluid bg-light p-0">
		<div th:replace="~{navigation :: menu}" ></div>
		<div class="text-center m-3 title" >
			<h2>Site Settings</h2>
		</div>
		
		<div th:if="${message!=null}" class="alert alert-success text-center">
			[[${message}]]
		</div>

		<div class="container border rounded p-2 bg-white">
			<ul class="nav nav-tabs" id="settingTab" role="tablist">
			  <li class="nav-item" role="presentation">
			    <button class="nav-link active" data-toggle="tab" href="#general" type="button" role="tab" >General</button>
			  </li>
			  <li class="nav-item" role="presentation">
			    <button class="nav-link" data-toggle="tab" href="#countries" type="button" role="tab" >Countries</button>
			  </li>
			  <li class="nav-item" role="presentation">
			    <button class="nav-link" data-toggle="tab" href="#states" type="button" role="tab" >States</button>
			  </li>
			  <li class="nav-item" role="presentation">
			    <button class="nav-link" data-toggle="tab" href="#mailServer" type="button" role="tab" >Mail Server</button>
			  </li>
			  <li class="nav-item" role="presentation">
			    <button class="nav-link" data-toggle="tab" href="#mailTemplates" type="button" role="tab" >Mail Templates</button>
			  </li>
			   <li class="nav-item" role="presentation">
			    <button class="nav-link" data-toggle="tab" href="#payment" type="button" role="tab" >Payment</button>
			  </li>
			</ul>
			
			<div class="tab-content">
			  <div class="tab-pane active p-3" id="general" role="tabpanel" >
				<div th:replace="~{settings/general :: content}"></div>
			  </div>
			  <div class="tab-pane p-3" id="countries" role="tabpanel" >
				<div th:replace="~{settings/countries :: content}"></div>
			  </div>
			  <div class="tab-pane p-3" id="states" role="tabpanel" >
				  <div th:replace="~{settings/states :: content}"></div>
				   
			  </div>
			  <div class="tab-pane p-3 " id="mailServer" role="tabpanel" >
				   <div th:replace="~{settings/mail_server :: content}"></div>
			  </div>
			  <div class="tab-pane p-3" id="mailTemplates" role="tabpanel" >
				   <div th:replace="~{settings/mail_templates/mail_templates :: content}"></div>
			  </div>
			   <div class="tab-pane p-3" id="payment" role="tabpanel" >
				   <div th:replace="~{settings/payment :: content}"></div>
			  </div>
			</div>	
			
			
		</div>
		<br/>
		<div th:replace="~{fragments :: footer}" ></div>
	</div>
<script type="text/javascript">
		
		contextPath = "[[@{/}]]";
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";
		
	$(document).ready(function () {
	$("#customerVerificationContent").richText();
	$("#orderConfirmationContent").richText({height: 300});
	});

</script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/countries_setting.js}"></script>
<script th:src="@{/js/states_setting.js}"></script>
</body>
</html>