<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: page_head(${pageTitle},'none')}"/>

</head>
<body>
<div class="container-fluid bg-light p-0">
	
		<div th:replace="navigation :: header_menu"></div>

		<div class="m-2 text-center">
			<h1 class="title">Customer Registration!</h1>
		</div>

		<div class="text-center">
			<h4>You have registered successfully as a customer</h4>
			<p>Please check your email to verify your account.</p>
			<p>
				<a th:href="@{/login}">Login here</a>
			</p>
		</div>

		<div>&nbsp;</div>

		<div th:replace="navigation :: footer_menu"></div>

</div>
	
</body>
</html>