<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: page_head(${pageTitle},'none')}"/>

</head>
<body>
	<div class="container-fluid bg-light p-0">
		<div th:replace="~{navigation :: header_menu}" ></div>
		<div th:replace="~{navigation :: search_nav}" ></div>
	
		<div th:if="${message != null}" class="alert alert-danger text-center">
			[[${message}]]
		</div>
		
		<div th:if="${title != null}" class="alert alert-danger text-center">
			[[${title}]]
		</div>
		
		
		
	</div>
	<div th:replace="~{navigation :: footer_menu}" ></div>
</body>
</html>