<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
	<div class="mb-2 p-0" th:fragment="header_menu">
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

			<th:block sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" method="post" th:hidden="true"
					name="logoutForm">
					<input type="submit" value="Logout" />
				</form>
			</th:block>

			<a class="navbar-brand" th:href="@{/}"> <img
				style="width: 125px; height: 75px;"
				th:src="@{${S3_BASE_URI + SITE_LOGO}}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end navtext"
				id="navbarNavDropdown">
				<ul class="navbar-nav mr-2">
					<th:block sec:authorize="!isAuthenticated()">
						<li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/register}">Register</a></li>
					</th:block>

					<th:block sec:authorize="isAuthenticated()">

						<li class="nav-item"><a class="nav-link"
							th:href="@{/address_book}">Address Book</a></li>

						<li class="nav-item"><a class="nav-link"
							th:href="@{/reviews}">Reviews</a></li>

						<li class="nav-item"><a class="nav-link" th:href="@{/orders}">Orders</a>
						</li>


						<li class="nav-item"><a
							class="nav-link fas fa-shopping-cart fa-2x"
							style="color: #fe9765" th:href="@{/cart}"></a></li>

						<li class="nav-item dropdown "><a
							class="nav-link dropdown-toggle font-weight-bold"
							data-toggle="dropdown" sec:authentication="principal.fullName"></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/account_details}">Account
									Details</a> <a class="dropdown-item"
									href="javascript: document.logoutForm.submit()">Logout</a>
							</div></li>


					</th:block>

				</ul>
			</div>

		</nav>
	</div>

	<div class="my-2" th:fragment="search_nav">

		<div class="bg-white px-2">

			<form class="form-inline" th:action="@{/search}" method="get">
				<input type="search" name="keyword" class="form-control"
					style="width: auto" placeholder="Search" th:value="${keyword}"
					required /> &nbsp;
				<button type="submit" class="btn btn-outline-primary d-inline">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</form>
		</div>

	</div>


	<div th:fragment="footer_menu">
		<div class="container-fluid p-0 ">
			<footer class=" text-lg-start text-white "
				style="background-color: #616569">
				<div class=" pb-0">
					<section class="">
						<div class="row mx-2">
							<div class="col-md-5 col-lg-7 col-xl-7 mx-auto mt-3">
								<h6 class="text-uppercase mb-4 font-weight-bold">About Us</h6>
								<p>Welcome to Eshop, your newest destination for all your
									shopping needs. We are a recently established online store,
									dedicated to providing you with a wide range of high-quality
									products at competitive prices. Our team is passionate about
									delivering an exceptional shopping experience, with a
									commitment to customer satisfaction.At Eshop, we aim to make
									your online shopping journey convenient and enjoyable, offering
									a diverse selection of products to cater to your every need.
									Join us on this exciting adventure and discover a world of
									convenience and affordability at Eshop!</p>
							</div>

							<hr class="w-100 clearfix d-md-none" />

							<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-center">
								<h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
								<p>
									<i class="fas fa-home mr-3"></i> Ho Chi Minh, 22-36 Nguyen Hue, Viet Nam
								</p>
								<p>
									<i class="fas fa-envelope mr-3"></i> eshopteam@gmail.com
								</p>
								<p>
									<i class="fas fa-phone mr-3"></i> + 01 234 567 89
								</p>
								<p>
									<i class="fas fa-print mr-3"></i> + 01 234 567 89
								</p>
							</div>

							<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
								<h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

								<a class="btn btn-primary btn-floating m-1"
									style="background-color: #3b5998" href="#!" role="button"><i
									class="fab fa-facebook-f"></i></a>

								<a class="btn btn-primary btn-floating m-1"
									style="background-color: #55acee" href="#!" role="button"><i
									class="fab fa-twitter"></i></a>

								<a class="btn btn-primary btn-floating m-1"
									style="background-color: #dd4b39" href="#!" role="button"><i
									class="fab fa-google"></i></a>

								<a class="btn btn-primary btn-floating m-1"
									style="background-color: #ac2bac" href="#!" role="button"><i
									class="fab fa-instagram"></i></a>

								<a class="btn btn-primary btn-floating m-1"
									style="background-color: #0082ca" href="#!" role="button"><i
									class="fab fa-linkedin-in"></i></a>
									
								<a class="btn btn-primary btn-floating m-1"
									style="background-color: #333333" href="#!" role="button"><i
									class="fab fa-github"></i></a>
							</div>
						</div>
					</section>
				</div>

				<div class="text-center bg-dark">
					<a class="text-white" href="">
						<p class="m-0 p-2">[[${COPYRIGHT}]]</p>
					</a>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>