<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<head th:replace="~{fragments :: page_head('Product ' + ${pageTitle},'tag')}"/>
	<link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
	<link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>
</head>
<body>
	<div class="container-fluid  bg-light p-0 ">
	<div th:replace="~{navigation :: header_menu}" ></div>
	<div class="my-2 container bg-white">
		<div th:replace="~{navigation :: search_nav}" ></div>
		<div th:replace="~{breadcrumb :: content}" ></div>
		
		<div class="row">
			<div class="col-sm">
				<div >
					<img  id="bigImage" class="img-fluid m-2 " th:src="@{${product.mainImagePath}}" style="height: 450px ;" index="0" />
				</div>
				<div class="row justify-content-center">
					<div class=" m-2 p-2 border border-secondary shadow rounded">
						<img class="image-thumbnail zoomhover" th:src="@{${product.mainImagePath}}" height="65" index="0"/>
					</div>
					<th:block th:each="extraImg, status : ${product.images}">
						<div class="m-2 p-2 border border-secondary shadow rounded" >
							<img class="image-thumbnail zoomhover" th:src="@{${extraImg.imagePath}}" height="65" th:index="${status.count}"/>
						</div>
					</th:block>
				</div>
				
				
			</div>
			
			<div class="col-sm">
				<div>
					<h2>[[${product.name}]]</h2>
				</div>
				
				<div class="row ml-1">
					<div class="col-xs">
						<input type="text" class="product-rating-star" dir="ltr" data-size="md" th:value="${product.averageRating}"/>
					</div>
					<div class="col-xs ml-1 mt-3">
						<a th:href="@{${product.URI} + '#review'}">[[${product.reviewCount}]] rating(s)</a>
					</div>
				</div>
				
				<div>
					<span>Brand: [[${product.brand.name}]]</span>
				</div>
				<div th:if="${product.discountPercent <= 0}">
					<span style="font-size:larger; color: #fe9765;">
						<b>
							<div th:replace="~{fragments :: product_price_symbol(${product.price})}" ></div>
						</b>
					</span>
				</div>
				
				<div th:if="${product.discountPercent > 0}">   
					<del>
						<span>
							<div th:replace="~{fragments :: product_price_symbol(${product.price})}" ></div>
						</span>
					</del>
					<div class="d-inline-block" style="font-size:larger; color: #fe9765;">  
						<b >
							<div th:replace="~{fragments :: product_price_symbol(${product.discountPrice})}" ></div>
						</b>
					</div>
			 			<span style="font-size: 90%; color: #fe9765;">([[${product.discountPercent}]] % OFF)</span>
				</div>
				
				<div class="my-2" th:utext="${product.shortDescription}"></div>
				
				<div>
					<span th:if="${product.inStock}" class="text-success"><b>In Stock</b></span>
					<span th:unless="${product.inStock}" class="text-danger"><b>Out Of Stock</b></span>
					
				</div>
				<th:block th:if="${product.inStock}">
				<div th:replace="~{cart/quantity_control :: quantity_control(1, ${product.id})}" ></div>
				<div class="my-2" >
					<input type="button" id="buttonAddToCart" value="Add To Cart" class="btn btn-outline-primary"/>
				</div>	
				</th:block>		
			</div>
					
		</div>
		<div class="row ">
			<div class="col-12 my-2">
				<div><hr/></div>
				<div>
					<h3>Product Description:</h3>
				</div>
				<div th:utext="${product.fullDescription}"></div>
			</div>
		</div>
		<div class="row ">
			<div class="col-12 my-2">
				<div><hr/></div>
				<div>
					<h3>Product Details</h3>
				</div>
				<th:block th:each="detail : ${product.details}">
					<div class="row">
						<label class="col-sm-2  col-4 text-secondary">
							<b>[[${detail.name}]]</b>
						</label>
						<div class="col-4">
							<span>[[${detail.value}]]</span>
						</div>
					</div>
					
				</th:block>
			</div>
		</div>

		<div th:replace="~{products/product_list_reviews :: content}" ></div>
		<a class="d-flex justify-content-center" th:href="@{'/ratings/' + ${product.alias}}"><b>View all [[${product.reviewCount}]] ratings </b></a>
		<div th:replace="~{products/images_carousel :: content}" ></div>
	</div>
		<div id="popupAddtoCart" class="popupAddtoCart">	    
		</div>
	
		<div th:replace="~{fragments :: modal_dialog}" ></div>
		
	</div>
	<div th:replace="~{navigation :: footer_menu}" ></div>
	
<script type="text/javascript">
	contextPath = "[[@{/}]]";
	productId = "[[${product.id}]]";
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";	
	
	 var popupAddtoCart = document.getElementById("popupAddtoCart");
	 var showAddToCartButton = document.getElementById("buttonAddToCart");
	
	decimalSeparator = "[[${DECIMAL_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";
	thousandSeparator = "[[${THOUSANDS_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";

	$(document).ready(function(){
		bigImage = $("#bigImage");
		$(".image-thumbnail").mouseover(function(){
			currentImageSource = $(this).attr("src");
			currentImageIndex = $(this).attr("index");
			
			bigImage.attr("src", currentImageSource );
			bigImage.attr("index", currentImageIndex );
		});
		
		bigImage.on("click", function(){
			$("#carouselModal").modal("show");
			imageIndex = parseInt(bigImage.attr("index"));  
			$("#carouselExampleIndicators").carousel(imageIndex);
		})
	});
</script>
<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common_rating.js}"></script>	
<script type="text/javascript" th:src="@{/js/quantity_control.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
<script type="text/javascript" th:src="@{/js/add_to_cart.js}"></script>
<script type="text/javascript" th:src="@{/js/review_vote.js}"></script>
</body>
</html>