<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: page_head('Account Details','none')}"/>

</head>
<body>
<div class="container-fluid bg-light p-0">
	<div th:replace="~{navigation :: header_menu}" ></div>
		<form class = "container border rounded bg-white" th:action="@{/update_account_details}" method="post" th:object="${customer}" enctype="multipart/form-data" style="max-width: 800px;">
			<input type="hidden" th:field="*{id}"/>  
			<input type="hidden" name="redirect" th:value="${param.redirect}" />
               <img class="m-4" th:src="@{${SITE_LOGO}}"  style="width: 125px; height: 75px;">	   
                            
           		<div class="d-inline-block">
			 		<h3 class="mb-3 text-uppercase title " > Account Details</h3>
			 	</div>
			 	
			 	<div th:if="${message != null}" class="alert alert-success text-center">
					[[${message}]]
				</div>	
				
			 	<th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
				 	 <div class="form-outline mb-4">
							 <label class="form-label"  for="authenticationType">Account Type:</label>
		                  <input type="text"  class="form-control form-control-lg"  value="REGISTERED ON ESHOP" required maxlength="45" readonly/>      
		              </div>
			 	</th:block>
			 	
			 	<th:block th:unless="${customer.authenticationType.name() == 'DATABASE'}">
				 	 <div class="form-outline mb-4">
							 <label class="form-label"  for="authenticationType">Account Type:</label>
		                  <input type="text"  class="form-control form-control-lg"  th:field="*{authenticationType}" required maxlength="45" readonly/>      
		              </div>
			 	</th:block>
			 	
			 	<div class="form-outline mb-4">
					 <label class="form-label"  for="email">Email</label>
                  <input type="email"  class="form-control form-control-lg"  th:field="*{email}" required maxlength="45" readonly/>
                </div>
			 	
				<div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
						 <label class="form-label" for="firstName">First name</label>
                      <input type="text"  class="form-control form-control-lg" th:field="*{firstName}" required maxlength="45"/> 
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
						<label class="form-label" for="lastName">Last name</label>
                      <input type="text" class="form-control form-control-lg" th:field="*{lastName}" required maxlength="45"/>
                    </div>
                  </div>
                </div>
	
     			<th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
	                 <div class="row">
	                  <div class="col-md-6 mb-4">
	                    <div class="form-outline">
							 <label class="form-label" for="password" >Password</label>
	                      <input type="password"  class="form-control form-control-lg" 
	                      minlength="8" maxlength="24" th:field="*{password}" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />
	                    </div>
	                  </div>
	                  <div class="col-md-6 mb-4">
	                    <div class="form-outline">
							<label class="form-label" for="confirmPassword">Re-type Password</label>
	                      <input type="password" class="form-control form-control-lg"
	                      minlength="8" maxlength="24" id="confirmPassword" oninput="checkPasswordMatch(this)"/>
	                    </div>
	                  </div>
	                </div>
     		  </th:block>
	                
	                <div class="form-outline mb-4">
						<label class="form-label" for="phoneNumber">Phone Number</label>
	                  <input type="text" class="form-control form-control-lg" th:field="*{phoneNumber}" required minlength="8" maxlength="15"/>
	                </div>
	
				
	               
	
	                <div class="form-outline mb-4">
						 <label class="form-label" for="addressLine1">Address Line 1</label>
	                  <input type="text"  class="form-control form-control-lg" th:field="*{addressLine1}" required maxlength="64"/>
	                 
	                </div>
	
	                <div class="form-outline mb-4">
						 <label class="form-label" for="addressLine2">Address Line 2</label>
	                  <input type="text"  class="form-control form-control-lg" th:field="*{addressLine2}" maxlength="64"/>
	                </div>
	                
	                  <div class="row">
	                   <div class="col-md-6 mb-4">
						  <div >    
							   <label class="form-label" for="country">Country</label>  
							  <div >                 
			                    <select class="form-control form-control-lg" th:field="*{country}">	
									<th:block th:each="country : ${listCountries}">
										<option th:value="${country.id}">[[${country.name}]]</option>
									</th:block>
			                    </select>
	               			 </div>   
	                      </div>                 
	                  </div>
	                   <div class="col-md-6 mb-4">
	                    <div class="form-outline">
							<label class="form-label" for="state" >State/Province</label>
	                      <input type="text" class="form-control form-control-lg" th:field="*{state}" maxlength="45" list="listStates"/>
	                       <datalist id="listStates"></datalist>
	                    </div>
	                  </div>
	                </div>
	                
	                 <div class="row">                  
	                    <div class="col-md-6 mb-4">
	                    <div class="form-outline">
							 <label class="form-label" for="city">City</label>
	                      <input type="text"  class="form-control form-control-lg" th:field="*{city}" required maxlength="45"/> 
	                    </div>
	                  </div>
	                  <div class="col-md-6 mb-4">
	                    <div class="form-outline">
							<label class="form-label" for="postalCode" >Postal Code</label>
	                      <input type="text" class="form-control form-control-lg" th:field="*{postalCode}" required minlength="2" maxlength="10"/> 
	                    </div>
	                  </div>
	                </div>
	

	                <div class="d-flex justify-content-center pt-3 mb-3">
	                  <input type="submit" class="btn btn-lg ms-2 text-white" style="background-color:  #fe9765;" value="Update"/>
	                </div>
			
		</form>
		
	
		
	<div>&nbsp;</div>
	<div th:replace="~{fragments :: modal_dialog}" ></div>
	<div th:replace="~{navigation :: footer_menu}" ></div>
</div>
	
	
<script type="text/javascript">
	contextPath = "[[@{/}]]";

		function checkEmailUnique(form){
		url = contextPath + "customers/check_unique_email";
		customerEmail = $("#email").val();
		csrfValue = $("input[name='_csrf']").val();
		params = {email: customerEmail,_csrf: csrfValue};
		
		$.post(url, params, function(response){
			if(response=="OK"){
				form.submit();
			}else if(response=="Duplicated"){
				showWarningModal("There is another Customer using the email: "+ customerEmail);
			}else{
				showErrorModal("Unknown response from server");
			}
		}).fail(function(){
				showErrorModal("Could not connect to the server");
		});
		
		return false;
	}

</script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
<script type="text/javascript" th:src="@{/js/common_customer_form.js}"></script>
</body>
</html>