<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: page_head('Forgot Password','none')}"/>

</head>
<body>
<div class="container-fluid bg-light p-0">
	<div th:replace="~{navigation :: header_menu}" ></div>
		<form class = "container border rounded bg-white " th:action="@{/forgot_password}" method="post" enctype="multipart/form-data" style="max-width: 800px;">
			
               <img class="m-4" th:src="@{${SITE_LOGO}}"  style="width: 125px; height: 75px;">	   
                            
           		<div class="d-inline-block">
			 		<h3 class="mb-3 text-uppercase title " > Forgot Password </h3>
			 	</div>
			 	
			 	<div th:if="${error != null}" class="alert alert-danger text-center">
					[[${error}]]
				</div>	 
			 	
			 	<div th:if="${message != null}" class="alert alert-success text-center">
					[[${message}]]
				</div>	 	
			 	
			 	<div>
					 <p>We will sent a reset password link to your Email</p>
				 </div>
				 
			 	<div class="form-outline mb-4">
                  <input type="email" name="email" class="form-control form-control-lg"  required maxlength="45" placeholder="Enter your Email"/>
                </div>


	                <div class="d-flex justify-content-center pt-3 mb-3">
	                  <input type="submit" class="btn btn-lg ms-2 text-white" style="background-color:  #fe9765;" value="Sent"/>
	                </div>
			
		</form>
	
	<div>&nbsp;</div>
</div>
	<div th:replace="~{navigation :: footer_menu}" ></div>

</body>
</html>