<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments :: page_head('Reset Password','none')}"/>

</head>
<body>
<div class="container-fluid bg-light p-0">
	<div th:replace="~{navigation :: header_menu}" ></div>
		<form class = "container border rounded bg-white " th:action="@{/reset_password}" method="post" enctype="multipart/form-data" style="max-width: 800px;">
				<input type="hidden" th:value="${token}" name="token" /> 
               <img class="m-4" th:src="@{${SITE_LOGO}}"  style="width: 125px; height: 75px;">	   
                            
           		<div class="d-inline-block">
			 		<h3 class="mb-3 text-uppercase title " > Input New Password </h3>
			 	</div>
			 	
			 	<div class="row">
	                  <div class="col-md-6 mb-4">
	                    <div class="form-outline">
	                      <input type="password"  class="form-control form-control-lg"  required 
	                      minlength="8" maxlength="24" id="password" name="password"  placeholder="Enter your new password"/>
	                      <label class="form-label" for="password">New Password</label>
	                    </div>
	                  </div>
	                  <div class="col-md-6 mb-4">
	                    <div class="form-outline">
	                      <input type="password" class="form-control form-control-lg" required 
	                      minlength="8" maxlength="24" id="confirmPassword" oninput="checkPasswordMatch(this)" placeholder="Confirm your password"/>
	                      <label class="form-label" for="confirmPassword">Re-type Password</label>
	                    </div>
	                  </div>
	                </div>

	                <div class="d-flex justify-content-center pt-3 mb-3">
	                  <input type="submit" class="btn btn-lg ms-2 text-white" style="background-color:  #fe9765;" value="Change Password"/>
	                </div>
			
		</form>
		
	
		
	<div>&nbsp;</div>
	<div th:replace="~{navigation :: footer_menu}" ></div>
</div>
<script type="text/javascript">
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
</script>

</body>
</html>