<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Eshop - Brands', 'none')}"/>
<body>
	<div class="container-fluid p-0">
		<div th:replace="~{navigation :: menu}" ></div>
		<div class="m-2 title">
			<h2>Manage Brands</h2>
			<a th:href="@{/brands/new}" class="fa-solid fa-folder-plus fa-2x" title="Add a new Brand"></a>
			&nbsp;|&nbsp;
			<a th:href="@{/brands/export/csv}" class="fa-solid fa-file-csv fa-2x" title="Export to CSV"></a>
			
		</div>
		
		<div th:if="${message!=null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		<div class="m-2" >
			<div th:replace="~{fragments :: search_form('/brands')}" ></div>
		</div>
		
		<div class="full-details m-2">
			<table class="table table-reponsive-xl table-bordered table-striped table-hover">
				<thead class="thead-dark">
					<tr>
		
					<th>Brand ID</th>
					<th>Logo</th>
					<th>
						<a class="text-white" th:href="@{'/brands/page/'+${currentPage}+'?sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword: ''}}">Brand Name</a>	
						<span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th>
					<th>Categories</th>
					
					<th></th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="brand:${listBrands}">
				<td>[[${brand.id}]]</td>
				<td>
					
					<img th:if="${brand.logo == null || brand.logo.isEmpty()}" th:src="@{/images/defaultCate.jpg}"  style="width: auto; height: 90px;" />	
					<img th:unless="${brand.logo == null || brand.logo.isEmpty()}" th:src="@{${brand.logoPath}}"  style="width: auto; height: 90px;"/>
				</td>
				<td>[[${brand.name}]]</td>
				<td>
					<th:block th:each="cat : ${brand.categories}">
						<span class="badge badge-secondary">[[${cat.name}]]</span>
					</th:block>
				</td>
				
				
				<td> 
					<a class="fa-solid fa-pen-to-square fa-2x icon-blue" th:href="@{'/brands/edit/'+${brand.id}}" title="Edit this Brand"></a>
					 &nbsp; 				
				 	 <a class="fa-solid fa-trash fa-2x icon-red link-delete"  th:href="@{'/brands/delete/'+${brand.id}}" title="Delete this Brand" th:entityId="${brand.id}"></a>
				</td>
				</tr>
				</tbody>
			</table>
		</div>
		
		<div class="less-details m-1">
			<div th:each="brand:${listBrands}" class="row my-2">
				<div class="col-2 text-center">[[${brand.id}]]</div>
				<div class="col-4">
					<<img th:if="${brand.logo == null || brand.logo.isEmpty()}" th:src="@{/images/defaultCate.jpg}" style="width: 100px; height: 75px;" />	
					<img th:unless="${brand.logo == null || brand.logo.isEmpty()}" th:src="@{${brand.logoPath}}" style="width: 100px; height: 75px;"/>
				</div>
				<div class="col-6">
					<div>[[${brand.name}]]</div>
				
					<div>	
					<a class="fa-solid fa-pen-to-square fa-2x icon-blue" th:href="@{'/brands/edit/'+${brand.id}}" title="Edit this Brand"></a>
					 &nbsp; 				
				 	 <a class="fa-solid fa-trash fa-2x icon-red link-delete"  th:href="@{'/brands/delete/'+${brand.id}}" title="Delete this Brand" th:entityId="${brand.id}"></a>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="~{fragments :: pagination('/brands','brands')}" ></div>
		
		<div th:replace="~{fragments :: confirm_modal}" ></div>
		
	</div>
		<div th:replace="~{fragments :: footer}" ></div>
<script th:src="@{/js/common_list.js}"></script>

<script type="text/javascript">
	moduleURL="[[@{/brands}]]";
	
	$(document).ready(function(){
		$(".link-delete").on("click", function(e){
			e.preventDefault();
			showDeleteConfirmModal($(this), 'brand');
		});
	});
	
</script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>